@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=MonteCarlo&family=Montserrat:wght@300;400&family=Press+Start+2P&family=Sacramento&display=swap");
body {
  font-family: Montserrat, sans-serif;
  background-color: #eee;
  color: #111;
}
h1 {
  text-align: center;
  font-family: "Fredericka the Great", fantasy;
  font-size: 36px;
  color: #52207d;
  letter-spacing: 1px;
}
/*.intro {
  font-family: Montserrat, sans-serif;
}*/
.apostrophe {
  letter-spacing: 3px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav {
  font-family: "Press Start 2P", fantasy;
  line-height: 1.5em;
}
a:link {
  color: rgb(213, 46, 177);
}
a:visited {
  color: rgb(148, 57, 170);
}
a:hover {
  text-decoration: underline;
}
form {
  border: 2px solid #ef6363;
  background-color: #ee8d8d;
}
input {
  background-color: rgb(152, 135, 220);
}
input:hover {
  background-color: rgb(182, 169, 237);
}
input:focus {
  background-color: rgb(184, 200, 223);
}
input:active {
  border: 2px solid #083182;
}
.bio {
  color: #c3b8e8;
  background-color: #6c7ac8;
  text-shadow: 2px 2px 4px #000;
  text-align: justify;
}
address {
  font-family: MonteCarlo, cursive;
  font-size: 24px;
  border: 3px solid #97683b;
  background-color: #e8cead;
  color: #083182;
  text-align: center;
}
button {
  background-color: #653094;
  font-family: "Press Start 2P", fantasy;
  font-size: 10px;
  color: #bbc3f3;
  border: 2px solid #653094;
}
button:hover {
  background-color: #8542bf;
  border: 2px solid #bd8aea;
}
button:active {
  background-color: #6c7ac8;
}
